@font-face {
  font-family: "rubik";
  src: url(./assets/fonts/Rubik-VariableFont_wght.ttf);
}
@font-face {
  font-family: "fuggles";
  src: url(./assets/fonts/Fuggles-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: mediumseagreen;
  height: 100vh;
}
body .title-section {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .title-section .title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: rgb(255, 243, 239);
  border: 1.5px solid black;
  width: 200px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}
body .title-section .title-container h1 {
  font-family: "fuggles";
  font-size: 2rem;
}
body .title-section .title-container h3 {
  font-family: "rubik";
}
body .input-task-section {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .input-task-section .task-container {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: rgb(255, 243, 239);
  border: 1.5px solid black;
}
body .input-task-section .task-container h2 {
  font-family: "rubik";
  font-weight: 100;
}
body .input-task-section .task-container .form-task {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .input-task-section .task-container .form-task #taskInput {
  height: 40px;
  width: 250px;
  padding-left: 10px;
  font-family: "rubik";
}
body .input-task-section .task-container .form-task button {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  margin: 5px auto 5px auto;
  background: transparent;
  font-family: "rubik";
}
body .input-task-section .task-container .form-task button:hover {
  background: mediumseagreen;
  color: whitesmoke;
}
body .tasks {
  min-height: 100px;
  height: auto;
  width: 90%;
  margin: 10px auto;
  padding: 5px;
  display: flex;
  text-align: center;
  flex-direction: column;
  background: rgb(255, 243, 239);
  border: 1.5px solid black;
}
body .tasks h1 {
  font-family: "fuggles";
  font-size: 3rem;
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
  text-underline-offset: 5px;
}
body .tasks .task-array-container {
  min-height: 100px;
  height: auto;
  width: 80%;
  margin: 0px auto;
  padding: 10px;
}
body .tasks .task-array-container .tasks-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px auto;
  height: 50px;
  border: 2px solid black;
  width: auto;
  border-radius: 20px;
}
body .tasks .task-array-container .tasks-div:hover {
  background: black;
  color: white;
}
body .tasks .task-array-container .tasks-div h2 {
  font-family: "rubik";
  font-weight: 400;
  font-size: 1rem;
  font-style: italic;
}
body .tasks .task-array-container .tasks-div h2:hover {
  cursor: pointer;
}
body .tasks .task-array-container .dragging {
  border: none;
  opacity: 0.5;
  color: rgb(0, 0, 0);
}
body .tasks .task-array-container .dragging:hover {
  background: transparent;
  color: black;
}
body .tasks .task-array-container .no-div {
  display: none;
}
body .todo {
  height: auto;
  width: 90%;
  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
body .todo .todo-task {
  text-align: center;
  background: rgb(255, 243, 239);
  border: 1.5px solid black;
  min-height: 100px;
  height: auto;
  width: 40%;
}
body .todo .todo-task h1 {
  font-family: "fuggles";
  font-size: 2rem;
  margin-bottom: 5px;
  letter-spacing: 2px;
  -webkit-text-decoration: 1px underline;
          text-decoration: 1px underline;
  text-underline-offset: 4px;
}
body .todo .todo-task .t-tasks h2 {
  font-family: "rubik";
  font-weight: 100;
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 10px;
}
body .todo .todo-task .t-tasks h2:hover {
  cursor: pointer;
}
body .todo .finish-task {
  text-align: center;
  background: rgb(255, 243, 239);
  border: 1.5px solid black;
  min-height: 100px;
  height: auto;
  width: 40%;
}
body .todo .finish-task h1 {
  font-family: "fuggles";
  font-size: 2rem;
  margin-bottom: 5px;
  letter-spacing: 2px;
  -webkit-text-decoration: 1px underline;
          text-decoration: 1px underline;
  text-underline-offset: 4px;
}
body .todo .finish-task .f-tasks h2 {
  font-family: "rubik";
  font-weight: 100;
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 10px;
}
body .todo .finish-task .f-tasks h2:hover {
  cursor: pointer;
}
body .trash {
  text-align: center;
  margin-top: 50px;
}
body .trash svg:hover {
  transform: scale(1.15);
}/*# sourceMappingURL=style.css.map */